// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.miscListIcon {
  margin-right: 5vw;
}

.labelText {
  padding-left: 5vw;
}

.active {
  //color: #000!important;
  //color: red!important;
}

.ion-select-text {
  color: #000 !important;
}

.educationEnrollButton {
  margin: 0;
}

.collegeEnrollButton {
  margin-left: 2%;
}

#menuPopover {
  height: auto !important; //padding-bottom: 0;
  margin-bottom: 0;
}

.center {
  padding-left: 5%;
}

ion-list {
  //border:3px solid red!important;
  //border-top: 1px solid #000!important;
}

ion-item {
  border-bottom: 0px solid red !important;
}

.alert-wrapper {
  min-width: 90%;
}

