// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.miscListIcon {
  margin-right: 5vw;
}

.labelText {
  padding-left: 5vw;
}

.active {
  //color: #000!important;
  //color: red!important;
}

.ion-select-text {
  color: #000 !important;
}

.educationEnrollButton {
  margin: 0;
}

.collegeEnrollButton {
  margin-left: 2%;
}

#menuPopover {
  height: auto !important; //padding-bottom: 0;
  margin-bottom: 0;
}

.center {
  padding-left: 5%;
}

ion-list {
  //border:3px solid red!important;
  //border-top: 1px solid #000!important;
}

ion-item {
  border-bottom: 0px solid red !important;
}

.alert-wrapper {
  min-width: 90%;
}

ion-modal {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-view {
  background: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .5;
  background-color: #333;
}

.modal_content {
  position: absolute; //top: calc(50% - (80%/2));
  margin-top: 25% !important;
  left: 0;
  right: 0;
  width: 90%;
  height: auto;
  padding: 10px;
  z-index: 100;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  color: #333;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

.maliMarginGore{
  margin-top: 50px!important;
}

.buttonright {
  float: right;
}

.smallPadding{
  margin-bottom: 10px!important;
}

.progressBarRoyal {
  background-color: #8869EA !important;
}

.progressBarDanger {
  background-color: #f53d3d !important;
}

.tabbar {
  a.tab-button[aria-selected=true]:nth-of-type(1) {
    color: color($colors, primary);
    .tab-button-icon {
      color: color($colors, primary);
    }
  }
  a.tab-button[aria-selected=true]:nth-of-type(2) {
    color: color($colors, royal-v1);
    .tab-button-icon {
      color: color($colors, royal-v1);
    }
  }
  a.tab-button[aria-selected=true]:nth-of-type(3) {
    color: color($colors, danger);
    .tab-button-icon {
      color: color($colors, danger);
    }
  }
  a.tab-button[aria-selected=true]:nth-of-type(4) {
    color: color($colors, energized-v1);
    .tab-button-icon {
      color: color($colors, energized-v1);
    }
  }
  a.tab-button[aria-selected=true]:nth-of-type(5) {
    color: color($colors, dark-v1);
    .tab-button-icon {
      color: color($colors, dark-v1);
    }
  }
}

.firstHalfWidth {
  margin-left: 1vw;
}

.halfWidth {
  width: 48vw;
  margin-top: 15px; //margin: 0%;
}

.card .list .item,
.bottomLine {
  border-bottom: 1px solid #e0e0e0 !important;
}

ion-icon {
  &[class*="quicklife-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  } // custom icons
  &[class*="quicklife-apartment"] {
    mask-image: url(../assets/imgs/apartment.svg);
  }
  &[class*="quicklife-city"] {
    mask-image: url(../assets/imgs/cityscape.svg);
  }
  &[class*="quicklife-disco"] {
    mask-image: url(../assets/imgs/disco.svg);
  }
  &[class*="quicklife-ring"] {
    mask-image: url(../assets/imgs/ring.svg);
  }
  &[class*="quicklife-smoking"] {
    mask-image: url(../assets/imgs/smoking.svg);
  }
  &[class*="quicklife-car"] {
    mask-image: url(../assets/imgs/car.svg);
  }
  &[class*="quicklife-steering-wheel"] {
    mask-image: url(../assets/imgs/steering_wheel.svg);
  }
  &[class*="quicklife-buy-car"] {
    mask-image: url(../assets/imgs/buy_car.svg);
  }
  &[class*="quicklife-car2"] {
    mask-image: url(../assets/imgs/car2.svg);
  }
}

.modal_content ion-card {
  width: 96%!important;
}

.h2 {
  font-size: 2em;
}

.button-ion-item {
  border-bottom: 0px solid red !important;
  border-top: 0px;
}

.checkbox-icon {
  /* padding-top: 5%!important;
  padding-left: 5%!important;
  padding-bottom: 5%!important;
  padding-right: 0%!important; ?*/
  padding-top: 5%!important;
  padding-bottom: 5%!important;
  margin-right: 5%!important;
  margin-left: 5%!important;

  //border-left: 1px solid black;
}

.propertyInfo {
  border-right: 1px solid black;
}

.absolutePosition {
  position: absolute;
  
}