<ion-header>
  <ion-navbar color="royal-v1">
    <ion-title>
      Me
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div>
    <ion-segment [(ngModel)]="meTabs" color="royal-v1">
      <ion-segment-button value="Info">
        Info
      </ion-segment-button>
      <ion-segment-button value="Finance">
        Finance
      </ion-segment-button>
      <ion-segment-button value="Assets">
        Assets
      </ion-segment-button>
      <ion-segment-button value="Misc">
        Misc
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>

  <div [ngSwitch]="meTabs">
    <ion-list *ngSwitchCase="'Info'">
      <ion-card>

        <!-- <ion-card-header>
          <b>Personal Info</b>
        </ion-card-header> -->

        <ion-card-content>
          <ion-list>
            <div ion-item>
              <label>Name: {{data.name}} {{data.surname}}</label>
            </div>

            <div ion-item>
              <label>Gender: {{capitalize(data.genderFull)}}</label>
            </div>

            <div ion-item>
              <label>Age: {{data.age}}</label>
            </div>

            <div ion-item>
              <label>Nationality: {{data.nationality}}</label>
            </div>

            <!-- <div ion-item>
                    <label>Sexuality: {{data.sexuality}}</label>
                  </div> -->

            <ion-item class="bottomLine">
              <ion-label class="ion-select-text">Sexuality</ion-label>
              <ion-select [(ngModel)]="data.sexuality" interface="popover" (ionChange)="sexualityChanged(data, selectedSexuality.value)"
                #selectedSexuality disabled="{{data.age < 12}}">
                <ion-option value="Heterosexual">Heterosexual</ion-option>
                <ion-option value="Bisexual">Bisexual</ion-option>
                <ion-option value="Homosexual">Homosexual</ion-option>
                <ion-option value="Asexual">Asexual</ion-option>
              </ion-select>
            </ion-item>

            <div ion-item>
              <label>Happiness: {{data.happiness.toFixed(0)}}%
                <br>
                <div class="progressBar">
                  <div class="progress-bar">
                    <span class="progress-bar-fill progressBarRoyal" [ngStyle]="{'width': data.happiness + '%'}"></span>
                  </div>
                </div>
              </label>
            </div>


            <div ion-item>
              <label>Appearance: {{data.appearance}}%
                <br>
                <div class="progressBar">
                  <div class="progress-bar">
                    <span class="progress-bar-fill progressBarRoyal" [ngStyle]="{'width': data.appearance + '%'}"></span>
                  </div>
                </div>
              </label>
            </div>

            <div ion-item>
              <label>Intelligence: {{data.intelligence.toFixed(0)}}%
                <br>
                <div class="progressBar">
                  <div class="progress-bar">
                    <span class="progress-bar-fill progressBarRoyal" [ngStyle]="{'width': data.intelligence + '%'}"></span>
                  </div>
                </div>
              </label>
            </div>

            <div ion-item>
              <label>Fitness: {{data.fitness.toFixed(0)}}%
                <br>
                <div class="progressBar">
                  <div class="progress-bar">
                    <span class="progress-bar-fill progressBarRoyal" [ngStyle]="{'width': data.fitness + '%'}"></span>
                  </div>
                </div>
              </label>
            </div>

            <div ion-item>
              <label>Musicality: {{data.musicality.toFixed(0)}}%
                <br>
                <div class="progressBar">
                  <div class="progress-bar">
                    <span class="progress-bar-fill progressBarRoyal" [ngStyle]="{'width': data.musicality + '%'}"></span>
                  </div>
                </div>
              </label>
            </div>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'Finance'">
      <!-- <ion-item>

        <h2>Your finance: {{data.shareService.formatMoney(data.finance)}}$</h2>
      </ion-item> -->
      <ion-list>

        <ion-item>
          <ion-label class="ion-select-text">
            <b>Account balance:</b>
          </ion-label>
          <ion-input value="${{data.shareService.formatMoney(data.finance)}}" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-select-text">Monthly income:</ion-label>
          <ion-input value="${{data.shareService.formatMoney(data.income)}}" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-select-text">Monthly outcome:</ion-label>
          <ion-input value="${{data.shareService.formatMoney(data.outcome)}}" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-select-text">Country tax:</ion-label>
          <ion-input value="{{data.tax * 100}}%" disabled></ion-input>
        </ion-item>

      </ion-list>

    </ion-list>

    <ion-list *ngSwitchCase="'Assets'">
      <button ion-button icon-only class="halfWidth firstHalfWidth" color="royal-v1" (click)="data.meAssets = 'House'">
        House
        <ion-icon name="ios-home"></ion-icon>
      </button>

      <button ion-button icon-only class="halfWidth" color="royal-v1" (click)="data.meAssets = 'Car'">
        Car
        <ion-icon name="ios-car"></ion-icon>
      </button>

      <div [hidden]="data.meAssets != 'House'">
        <ion-card>
          <ion-card-header>
            <b>Owned properties:</b>
            <b *ngIf="data.posjedi.length == 0">None</b>
          </ion-card-header>
          <!-- property listings -->

          <ion-list>
            <ion-item *ngIf="data.posjedi.length == 0">
              <ion-label>You're living with your parents.</ion-label>
            </ion-item>
            <button ion-item *ngFor="let property of data.posjedi">
              <ion-icon [name]="(property[0] == 'House')? 'ios-home-outline':'quicklife-apartment'" item-start></ion-icon>
              <div *ngIf="property[0] == 'House'" class="propertyInfo">
                <b>{{property[0]}}</b>
                <br> {{property[1] == 1? "1 bedroom":(property[1] + " bedrooms")}}
                <br> Garage: {{property[2]}}
                <br> Garden: {{property[3]}}
                <br> Value: ${{data.shareService.formatMoney(property[4])}}
              </div>

              <div *ngIf="property[0] == 'Apartment' || property[0] == 'Condo'" class="propertyInfo">
                <b>{{property[0]}}</b>
                <br> {{property[1] == 1? "1 bedroom":(property[1] + " bedrooms")}}
                <br> Parking: {{property[2]}}
                <br> Value: ${{data.shareService.formatMoney(property[3])}}
              </div>

              <ion-icon (click)="data.shareService.moveTo(data, property)" [name]="property[property.length - 1] == data.livingIn?'md-checkbox-outline':'md-square-outline'"
                item-end class="checkbox-icon"></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </div>

      <div [hidden]="data.meAssets != 'Car'">
        <ion-card>
          <ion-card-header>
            <b>Owned cars:</b>
            <b *ngIf="data.cars.length == 0">None</b>
          </ion-card-header>
          <ion-list>
            <button ion-item *ngFor="let car of data.cars">
              <ion-icon name="quicklife-car2" item-start></ion-icon>

              <div>
                <b>{{car[0]}}</b>
                <br>Model: {{car[1]}}
                <br>Colour: {{car[2]}}
                <br>Value: ${{data.shareService.formatMoney(car[3])}}
              </div>

            </button>
          </ion-list>
        </ion-card>

        <!-- <ion-footer no-shadow [hidden]="data.meAssets != 'Car'">
          <ion-toolbar position="bottom">
            <button ion-button full round color="royal-v1" (click)="data.shareService.carsForSale(data)">Cars for sale
              <ion-icon id="clockIcon" name="quicklife-buy-car"></ion-icon>
            </button>
          </ion-toolbar>
        </ion-footer> -->
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'Misc'">
      <ion-item-group>
        <ion-item-divider color="light"><b>Activities</b></ion-item-divider>
        <!-- <button ion-item (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Learning
          </button> -->
        <!-- <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          Herbology
          <ion-icon name="rose" item-end></ion-icon>
        </ion-item> -->
        <ion-item>
          <ion-label>
            <!-- (click)="(data.isLearning == 0) ? data.isLearning = 1 : data.isLearning = 0" -->
            <ion-icon name="md-bookmarks" class="miscListIcon"></ion-icon><span class="absolutePosition"> Learning</span></ion-label>
          <ion-toggle [(ngModel)]="data.isLearning" disabled="{{data.age < 6}}" (ionChange)="data.shareService.learningChanged(data)"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>
            <!-- (click)="(data.isReadingBooks == 0) ? data.isReadingBooks = 1 : data.isReadingBooks = 0" -->
            <ion-icon name="md-book" class="miscListIcon"></ion-icon><span class="absolutePosition"> Reading books</span></ion-label>
          <ion-toggle [(ngModel)]="data.isReadingBooks" disabled="{{data.age < 9}}" (ionChange)="data.shareService.readingChanged(data)"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>
            <!-- (click)="(data.goingToGym == 0) ? data.goingToGym = 1 : data.goingToGym = 0" -->
            <ion-icon name="ios-body" class="miscListIcon"></ion-icon><span class="absolutePosition"> Go to gym (50$/mo)</span></ion-label>
          <ion-toggle [(ngModel)]="data.goingToGym" disabled="{{data.age < 12}}" (ionChange)="data.shareService.gymChanged(data)"></ion-toggle>
        </ion-item>

        <ion-item class="bottomLine">
          <ion-label>
            <!-- (click)="(data.goingToGym == 0) ? data.goingToGym = 1 : data.goingToGym = 0" -->
            <ion-icon name="quicklife-smoking" class="miscListIcon"></ion-icon><span class="absolutePosition"> Smoke</span></ion-label>
          <ion-toggle [(ngModel)]="data.smoking" disabled="{{data.age < 16}}" (ionChange)="data.shareService.smokingChanged(data)"></ion-toggle>
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-label class="ion-select-text">
              <ion-icon name="ios-musical-notes" class="miscListIcon"></ion-icon><span class="absolutePosition"> Play instrument (100$/mo each)</span></ion-label>
            <ion-select [(ngModel)]="data.instruments" multiple="true" cancelText="Dismiss" okText="Ok" disabled="{{data.age < 3 || data.inDebt == 1}}"
              (ionChange)="data.shareService.instrumentsChanged(data)">
              <ion-option value="guitar">Acoustic guitar</ion-option>
              <ion-option value="bass guitar">Bass guitar</ion-option>
              <ion-option value="piano">Piano</ion-option>
              <ion-option value="drums">Drums</ion-option>
              <ion-option value="trumpet">Trumpet</ion-option>
              <ion-option value="guitar">Electric guitar</ion-option>
              <ion-option value="saxophone">Saxophone</ion-option>
              <ion-option value="cello">Cello</ion-option>
              <ion-option value="flute">Flute</ion-option>
              <ion-option value="clarinet">Clarinet</ion-option>
              <ion-option value="clarinet">Violin</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="ion-select-text">
              <ion-icon name="md-football" class="miscListIcon"></ion-icon><span class="absolutePosition"> Train sport (60$/mo each)</span></ion-label>
            <ion-select [(ngModel)]="data.sports" multiple="true" cancelText="Dismiss" okText="Ok" disabled="{{data.age < 5 || data.inDebt == 1}}"
              (ionChange)="data.shareService.sportsChanged(data)">
              <ion-option value="football">Football</ion-option>
              <ion-option value="basketball">Basketball</ion-option>
              <ion-option value="handball">Handball</ion-option>
              <ion-option value="volleyball">Volleyball</ion-option>
              <ion-option value="swimming">Swimming</ion-option>
              <ion-option value="archery">Archery</ion-option>
            </ion-select>
          </ion-item>

          <button ion-item (click)="data.shareService.goToClub(data, 0); changeTab(0, data)" class="button-ion-item bottomLine" [disabled]="data.age < 16">
            <ion-icon name="quicklife-disco" class="miscListIcon"></ion-icon>
            <span class="absolutePosition">Go to club</span>
          </button>

          <button ion-item (click)="data.shareService.socialNetworkModal(data)" class="button-ion-item bottomLine" [disabled]="data.age < 13">
            <ion-icon name="quicklife-user" class="miscListIcon"></ion-icon>
            <span class="absolutePosition">Social Network</span>
          </button>

          <button ion-item (click)="data.shareService.goForADrive(data); changeTab(0, data)" class="button-ion-item topLine bottomLine"
            [disabled]="!data.cars.length > 0 || !data.passedDrivingTest">
            <ion-icon name="quicklife-car" class="miscListIcon"></ion-icon>
            <span class="absolutePosition">Go for a drive</span>
          </button>

          <button ion-item (click)="data.shareService.holidayModal(data)" class="button-ion-item topLine bottomLine" [disabled]="data.age < 18">
            <ion-icon name="ios-plane" class="miscListIcon"></ion-icon>
            <span class="absolutePosition"> Book Holiday</span>
          </button>

          <button ion-item (click)="data.shareService.goOnADate(data); changeTab(0, data)" class="button-ion-item topLine" [disabled]="!data.havePartner">
            <ion-icon name="quicklife-date-conversation" class="miscListIcon"></ion-icon>
            <span class="absolutePosition"> Go on a date</span>
          </button>

          <ion-item-divider color="light"><b>Documents</b></ion-item-divider>

          <button ion-item class="button-ion-item" [disabled]="data.shareService.passedDrivingTestButton(data)" (click)="data.shareService.takeDrivingTest(data); changeTab(0, data)">
            <ion-icon name="quicklife-steering-wheel" class="miscListIcon"></ion-icon>
            <span class="absolutePosition">{{data.shareService.passedDrivingTestText(data)}}</span>
            <ion-icon [name]="data.passedDrivingTest == 1?'md-checkbox-outline':'md-square-outline'" class="miscListIcon" item-right></ion-icon>
          </button>

          <ion-item-divider color="light"><b>Art</b></ion-item-divider>

          <button ion-item class="button-ion-item topLine" (click)="data.shareService.musicModal(data)"> <!-- [disabled]="data.age < 12" -->
            <ion-icon name="md-microphone" class="miscListIcon"></ion-icon>
            <span class="absolutePosition"> Music</span>
          </button>
        
        </ion-list>
      </ion-item-group>

    </ion-list>
  </div>
</ion-content>

<ion-footer no-shadow [hidden]="meTabs != 'Assets'">
  <ion-toolbar position="bottom" [hidden]="data.meAssets != 'House'">
    <button ion-button full round color="royal-v1" (click)="data.shareService.propertyListings(data)">Property listings
      <ion-icon id="clockIcon" name="quicklife-city"></ion-icon>
    </button>
  </ion-toolbar>

  <ion-toolbar position="bottom" [hidden]="data.meAssets != 'Car'">
      <button ion-button full round color="royal-v1" (click)="data.shareService.carsForSale(data)">Cars for sale
        <ion-icon id="clockIcon" name="quicklife-buy-car"></ion-icon>
      </button>
    </ion-toolbar>
</ion-footer>
