<div class="modalOverlay" (click)="dismiss()"></div>

<div class="modalContent verticalCenter">
  <ion-card>
    <ion-card-header>
      <b class="gurniDolje">Music</b>
      <button ion-button (click)="dismiss()" class="buttonright" color="royal-v1" small>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-card-header>
  </ion-card>
  <ion-list>

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item *ngIf="data.bands.length == 0">
            <ion-label class="ion-select-text">
              You are not part of any group!
            </ion-label>
          </ion-item>
          <ion-item *ngIf="data.bands.length > 0" color="light">
            <ion-label class="ion-select-text">
              <b>Artist:</b>
            </ion-label>
            <ion-select [(ngModel)]="data.selectedBand" multiple="false" cancelText="Dismiss" okText="Ok" (ionChange)="selectedBandChanged(data)">
              <ion-option *ngFor="let band of data.bands" [value]="band.id">{{band.name}}</ion-option>
            </ion-select>
          </ion-item>

          <div *ngIf="data.selectedBandObject">
            <ion-item>
              <ion-label class="ion-select-text listItem">
                Members:
              </ion-label>
              <ion-input [value]="data.selectedBandObject.members" text-right disabled class="listItem2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="ion-select-text listItem">
                Fans:
              </ion-label>
              <ion-input [value]="data.selectedBandObject.fans" text-right disabled class="listItem2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="ion-select-text listItem">
                Genre:
              </ion-label>
              <ion-input [value]="data.selectedBandObject.genre" text-right disabled class="listItem2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="ion-select-text listItem">
                Albums:
              </ion-label>
              <ion-input [value]="data.selectedBandObject.albums" text-right disabled class="listItem2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="ion-select-text listItem">
                Sold albums:
              </ion-label>
              <ion-input [value]="data.selectedBandObject.soldCopies" text-right disabled class="listItem2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="ion-select-text listItem">
                Active:
              </ion-label>
              <ion-input [value]="(data.selectedBandObject.active == 1)?'Yes':'No'" text-right disabled class="listItem2"></ion-input>
            </ion-item>
          </div>

          <div class="textCenter">

            <button ion-button color="calm-v1" class="halfWidthModal" *ngIf="data.bands.length != 0 && data.selectedBandObject.active == 1" (click)="createAlbumModal(data)">
              Create album
              <ion-icon id="clockIcon" name="color-compact-disc"></ion-icon>
            </button>

            <button ion-button color="energized-v1" class="halfWidthModal" (click)="bandNameModal(data)">
              Create artist
              <ion-icon id="clockIcon" name="color-singer"></ion-icon>
            </button>

            <button ion-button color="danger" class="halfWidthModal" *ngIf="data.bands.length != 0 && data.selectedBandObject.active == 1" (click)="disband(data)">
              Disband
              <ion-icon id="clockIcon" name="color-prohibition"></ion-icon>
            </button>

            <button ion-button color="money" class="halfWidthModal" *ngIf="data.bands.length != 0 && data.selectedBandObject.active == 0" (click)="reunite(data)">
              Reunite
              <ion-icon id="clockIcon" name="md-musical-note"></ion-icon>
            </button>

            <!-- <button ion-button color="energized-v1" class="halfWidthModal halfWidthModalLeft">
              Create artist
              <ion-icon id="clockIcon" name="md-musical-note"></ion-icon>
            </button>

            <button ion-button color="danger" class="halfWidthModal">
              Disband
              <ion-icon id="clockIcon" name="md-musical-note"></ion-icon>
            </button> -->
          </div>




          <!-- <button ion-button color="royal-v1" (click)="data.shareService.goToHoliday(data, vacation)" class="buttonright" [disabled]="travelTo === undefined || hotelStars === undefined || travelClass === undefined">
            Book Holiday
          </button> -->

        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-list>
</div>
