<ion-header>
  <ion-navbar color="money">
    <ion-title>
      Job
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-toolbar> -->
  <div>
    <ion-segment [(ngModel)]="jobTabs" color="money"> <!-- color="dark-v1" -->
      <ion-segment-button value="Current">
        Current
      </ion-segment-button>
      <ion-segment-button value="Available">
        Available
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <div [ngSwitch]="jobTabs">
    <ion-list *ngSwitchCase="'Current'">
      <ion-card>
        <div [hidden]="!data.isWorking">
          <ion-card-header>
            <b>{{data.myJob[1]["title"]}}</b>
            <div [hidden]="data.myJob[1]['title'] == 'Nurse' || data.myJob[1]['title'] == 'Doctor' || data.myJob[1]['title'] == 'Police Officer'">at {{data.myJob[0]}}</div>
          </ion-card-header>
          <ion-card-content>
            <label>Salary: ${{data.shareService.formatMoney(data.myJob[2] / 12 * 1000)}}/mo</label>
            <br>
            <label>Years in service: {{data.jobService}}</label>
            <br>

            <button ion-button color="danger" small (click)="data.shareService.quitJob(data)">Quit</button>
            <button *ngIf="data.age >= data.retirementAge" ion-button color="secondary" small>Retire</button>
          </ion-card-content>
          
        </div>

        <div [hidden]="data.isWorking">
          <ion-card-header>
            <b>You have no job!</b>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </div>

      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'Available'">
      <!-- <ion-list>
        <button ion-item *ngFor="let job of data.listedJobs.company">
          {{ job }}
        </button>
      </ion-list> -->


      <div *ngFor="let job of data.listedJobs; let i = index">
        <ion-card [hidden]="i == data.gotJobNum">
          <ion-card-header>
            <b>{{job[1]["title"]}}</b>
            <div [hidden]="data.jobsWithoutLabel.indexOf(job[1]['title']) >= 0">at {{job[0]}}</div>
          </ion-card-header>
          <ion-card-content>
            <label>Salary: ${{data.shareService.formatMoney(job[2] / 12 * 1000)}}/mo</label>
            <br>
            <label>Work experience needed: {{job[1]["experience"]}}+ years</label>
            <br>
            <label>Education needed: {{data.shareService.numToSchool(job[1]["education"])}}</label>
            <br>
            <label>Qualifications: {{(job[1]["skills"].length > 0) ? job[1]["skillsRender"] : "None"}}</label>
            <br>
            <!-- Float the icon left -->
            <button ion-button color="secondary" [disabled]="data.age < 16" small (click)="data.shareService.applyForJob(data, job, i)">
              Apply
            </button>

            <!-- Float the icon right
            <button ion-button icon-right>
              Right Icon
              <ion-icon name="home"></ion-icon>
            </button> -->
          </ion-card-content>
        </ion-card>
      </div>





    </ion-list>
  </div>
</ion-content>
